h1 {
    text-align: center;
}

.header {
    text-align: left;
}

img {
    position: absolute;
    top: 24px;
    z-index: -1;
}

body{
    background-color: rgba(11, 16, 28, 1);
}

.bg-dark-blue {
    background-color: rgba(11, 16, 28, 1);
}