input, select {
    border-width: 0;
    color: whitesmoke;
    font-size: 24px;
    font-family: Roboto, sans-serif;
}

.dark-navbar {
    background-color: rgba(16, 22, 33, 1);
}

.text-color-white {
    color: #fff;
}